@import '../colors';
@import '../fonts';

.cardDetail {
    border: 0.215rem solid $purblue;
    color: $darkGrey;
    margin: 0.5rem 1rem 1.5rem 1rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
    @media (min-width: 768px) {
        display: flex;
    }
    @media (min-width: 992px) {
        width: 60%;
    }
    img {
        border-radius: 0.5rem;
        width: 18.75rem;
    }
    .cardProp {
        @media (min-width: 768px) {
            margin: 0.5rem 0;
            width: 100%;
        }
        h1 {
            font: $font__detail;
            letter-spacing: 0.375rem;
            margin: 0.75rem 0 1rem 0;
            text-transform: uppercase;
            @media (min-width: 768px) {
                margin-bottom: 1.25rem;
            }
        }
        h3 {
            font: $font__text;
            font-size: 1rem;
        }
        h5 {
            font: $font__detail;
            font-size: 2.25rem;
            letter-spacing: 0.125rem;
            margin: 0;
            @media (min-width: 768px) {
                margin: 1rem;
            }
        }
        p {
            font: $font__detail;
            font-size: 2rem;
            letter-spacing: 0.1rem;
            margin: 1rem 0 1.75rem 0;
            @media (min-width: 768px) {
                font-size: 1.75rem;
            }
            &.noStock {
                margin: 0;
            }
        }
    }
}