@import '../colors';
@import '../fonts';

.cardDetail {
    border: 0.215rem solid $purblue;
    color: $darkGrey;
    display: flex;
    margin-top: 3rem;
    padding: 2.5rem 0 2.5rem 2rem;
    text-align: center;
    width: 60%;
    img {
        width: 340px;
        height: 360px;
    }
    .cardProp {
        display: block;
        margin: 0.5rem 0;
        width: 100%;
        h1 {
            font: $font__nombre-detail;
            letter-spacing: 0.375rem;
            margin: 0 0 1.5rem 0;
            text-transform: uppercase;
        }
        p {
            font: $font__precio-detail;
            letter-spacing: 0.125rem;
            margin: 2.5rem 0;
        }
        .contadorBoton {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            .finalizar {
                background: white;
                border: 0.125rem solid $purple;
                border-radius: 0.5em;
                cursor: pointer;
                font: $font__btn;
                font-size: 1.5rem;
                margin-top: 1.75rem;
                padding: 1.75rem;
                text-transform: uppercase;
                &:hover{
                    background-color: $aqua;
                }
                a {
                    color: $purple;
                }
            }
        }
    }
}