@import '../colors';
@import '../fonts';

.card {
    border: 0.094rem solid $turquaise;
    color: $darkGrey;
    display: block;
    padding: 0.5rem;
    margin: 1rem 0;
    text-align: center;
    width: 20%;
    img {
        width: 100%;
    }
    h4 {
        font: $font__nombre-card;
        letter-spacing: 0.188rem;
        margin: 0;
        text-transform: uppercase;
    }
    .verMas {
        background: white;
        border: 0.125rem solid $purblue;
        border-radius: 0.75em;
        margin: 0.25rem 1.5rem;
        padding: 0rem 3.75rem;
        .verMasPlus{
            color: $darkGrey;
            font: $font__verMas;
            text-decoration: none;
            &:hover, &:active, &:focus{
                color:$purblue;
            }
        }
        &:hover, &:focus{
            background-color: $aqua;
            outline: none;
        }
    }
}