@import '../colors';
@import '../fonts';

header {
    background-color: $aqua;
    display: flex;
    height: 3.25rem;
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        h1 {
            margin-top: 0.5rem; 
            .logo {
                color: $darkGrey;
                font: $font__logo;
                letter-spacing: 0.375rem;
                margin-left: 5rem;  
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        ul {
            display: flex;
            justify-content: space-between;
            margin-right: 5%;
            width: 50%;
            .navLink {
                color: $purple;
                display: flex;
                font: $font__nav;
                list-style-type: none;
                text-decoration: none;
                text-transform: uppercase;
                &.shopping {
                    font-size: 1.125rem;
                    margin-top: 0.125rem;
                }
                .quantity {
                    font-size: 1.125rem;
                    margin: -0.125rem 0 0 0.5rem;
                }
            }
            .activeLink {
                color: $turquaise2; 
            }
            ::marker {
                color: $aqua;
            }
        }
    }
}