@import '../colors';
@import '../fonts';

header {
    background-color: $aqua;
    display: flex;
    justify-content: space-between;
    .logo {
        color: $purple;
        font: $font__logo;
        margin: 0.75rem 0 0.5rem 5rem;   
    }
    nav {
        margin-right: 10rem;
        width: 50%;
        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 1.25rem;
            li {
                list-style-type: none;
                a {
                    color: $purple;
                    font: $font__nav;
                    text-decoration: none;
                    text-transform: uppercase;
                    &.shopping {
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}