/*Periwingle*/
$purple: #9A9CEA;

$purblue: #A2B9EE;

$turquaise: #A3DCEF;

$aqua: #CEF5EC;

$turquaise2: #93c6d7;

/*Sea Turtle*/
$deep: #006092;

$summerblue: #1FC3DA;

$aqualive: #83EFEB;

$grewha: #E9EBED;

/*Dusk*/
$electricpurple: #505BA9;

$ocean: #58B5DD;

$aquagreen: #8DDFD9;