@import url('https://fonts.googleapis.com/css2?family=Forum&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$font__btn: 500 1.25rem 'Heebo', sans-serif;

$font__card: 500 1rem 'Heebo', sans-serif;

$font__cart: 500 1.75rem 'Heebo', sans-serif;

$font__detail: 500 2.5rem 'Forum', cursive;

$font__form: 600 1.25rem 'Forum', cursive;

$font__logo: 500 1.5rem 'Forum', cursive;

$font__nav: 500 1rem 'Heebo', sans-serif;

$font__text: 400 2rem 'Forum', cursive;

$font__titulo-form: 400 1.75rem 'Forum', cursive;

$font__titulo: 400 3.5rem 'Heebo', sans-serif;

$font__verMas: 600 1rem 'Heebo', sans-serif;