@import url('https://fonts.googleapis.com/css2?family=Forum&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$font__logo: 500 2rem 'Forum', cursive;

$font__nav: 400 0.875rem 'Heebo', sans-serif;

$font__title: 400 2.75rem 'Heebo', sans-serif;