header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 1.75rem;
    margin: 1rem 0 1rem 5rem;   
}
nav {
    margin-right: 10rem;
    width: 50%;
}
ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
li {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}