@import '../colors';
@import '../fonts';

.contadorCont {
    color: $darkGrey;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.375rem;
    justify-content: center;
    .contador {
        border: 2px solid $purple;
        border-radius: 0.5em;
        margin-top: 1rem;
        width: 14rem;
    }
    .resta, .suma {
        background-color: transparent;
        border: none;
        color: $turquaise2;
        cursor: pointer;
        font-size: 2rem;
        padding: 0 1.5rem;
        &:focus{
            outline: none;
        }
    }
    .resta {
        padding-right: 4rem;
    }
    .suma {
        padding-left: 4rem;
    }
}