@import '../colors';
@import '../fonts';

.listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem 5%;
}

.btnProductos {
    text-align: center;
    margin: 1rem 0;
    .btnKatmandu {
        background: white;
        border: 0.125rem solid $purblue;
        border-radius: 0.75em;
        color: $turquaise2;
        cursor: pointer;
        font: $font__btn;
        letter-spacing: 0.063rem;
        margin: 0 1.5rem;
        padding: 0rem 3rem;
        &:hover, &:active, &:focus {
            color: $purple;
            background-color: $aqua;
            outline: none;
        }
    }
}